@import '/src/styles/scss/colors';

.root {
  // border: 1px solid black;
  padding-bottom: 50px;
   p {
    text-align: justify;
   }
}

.line {
  width: 200px;
  height: 1px;
  background-color: $separator-color;
  margin-bottom: 20px;
}