.root {
  padding-right: 100px;
  padding-top: 10px;

  .header {
    margin-bottom: 20px;
  }

  .table {
    border-left: 1px solid teal;
    border-right: 1px solid teal;

    tbody {
      tr {
        &:hover {
          background-color: rgba(#008080, 0.09);
          transition: .1s;
        }
      }
    }
  }

  p {
    text-align: justify;
    margin-bottom: 20px;
  }

  h3 {
    padding: 30px 0px 20px 0px;
  }

  ul {
    padding-left: 50px;
    margin-bottom: 20px;

    li {
      font-size: 18px;
      font-weight: 400;
    }
  }

  a {
    color: blue;
    text-decoration: underline;
    margin-left: 4px;
  }
  
  pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
  }

  .quote {
    background-color: #eff1f3;
    display: inline;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    font-family: 'Fira Code';
  }
}