@import '../colors';

.root {
  background-image: linear-gradient(to bottom right, #01093a, #2c0b02);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    color: $light-text-color;
    text-align: center;
  }

  h1 {
    color: $light-text-color;
    padding-bottom: 30px;
    text-align: center;
  }

  .container {
    width: 1000px;
    padding: 100px 200px;

    .icons {
      padding: 20px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      
      svg {
        margin: 0px 15px;
        border: 2px solid white;
        color: white;
        padding: 5px;
        border-radius: 50%;
      }
    }
  }

  .bottom {
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}