@import '/src/styles/scss/colors';

.root {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .container {
    max-width: 1000px;
    margin: 0px 50px;
    .intro {
      border-bottom: 2px solid $separator-color;
      padding-top: 50px;
      padding-bottom: 50px;
      display: flex;

      .left {
        width: 300px;
      }

      .right {
        width: calc(100% - 300px);
        // border: 1px solid blue;
        padding-left: 100px;

        p {
          display: flex;
          line-height: 30px;
          // align-items: center;

          img {
            width: 30px;
            height: 30px;
            display: inline-block;
            margin-right: 5px;
          }
        }
      }
    }

    .topics {
      padding-top: 150px;
      padding-bottom: 50px;

      h1 {
        border-bottom: 2px solid $separator-color;
        margin-bottom: 20px;
        padding-bottom: 20px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 1);
      }
    }
  }
}

@media (max-width: 800px) {
  .root {
    .container {
      .intro {
        flex-direction: column;

        .right {
          width: 100%;
          padding-left: 0px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .root {
    .container {
      margin: 0px 10px;

      .intro {
        .left {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}